In [ ]:
# importing psycopg2; python library which enables postgresql use through pgadmin
import psycopg2 as pg2

In [ ]:
# directing connection to northwind database
conn = pg2.connect(database='northwind',user='postgres',password='')

In [ ]:
# establishing cursor for connection
cur = conn.cursor()

Which territories is each employee responsible for?

In [ ]:
cur.execute('SELECT firstname, lastname, territorydescription FROM employees LEFT OUTER JOIN employeeterritories ON employees.employeeid = employeeterritories.employeeid LEFT OUTER JOIN territories ON employeeterritories.territoryid = territories.territoryid')

```
  SELECT 
    firstname, lastname, territorydescription 
  FROM employees
    LEFT OUTER JOIN employeeterritories
    ON employees.employeeid = employeeterritories.employeeid
    LEFT OUTER JOIN territories
    ON employeeterritories.territoryid = territories.territoryid;```

In [ ]:
# Shows first 10 results of query
cur.fetchmany(10)

In [ ]:
conn.close()

What are the top 5 products sold by volume?

In [ ]:
cur.execute('SELECT productname, SUM(quantity) FROM orders LEFT OUTER JOIN order_details ON orders.orderid = order_details.orderid LEFT OUTER JOIN products ON order_details.productid = products.productid GROUP BY productname ORDER BY SUM(quantity) DESC LIMIT 5;')

```
   SELECT
    productname, 
    SUM(quantity) AS quant_sum 
   FROM orders
    LEFT OUTER JOIN order_details
    ON orders.orderid = order_details.orderid
    LEFT OUTER JOIN products AS pr
    ON order_details.productid = pr.productid
   GROUP BY productname
   ORDER BY SUM(quantity) DESC
   LIMIT 5;```

In [ ]:
cur.fetchall()

Which orders were made on May 1997 and December 1997?

In [ ]:
cur.execute('SELECT orderid, TO_CHAR(orderdate, "MM/YYYY") AS order_month_yr FROM orders WHERE TO_CHAR(orderdate, "MM/YYYY") ILIKE "05/1997%" OR TO_CHAR(orderdate, "MM/YYYY") ILIKE "12/1997%"')

```
  SELECT 
     orderid, 
     TO_CHAR(orderdate, 'MM/YYYY') AS order_month_yr 
  FROM orders
     WHERE TO_CHAR(orderdate, 'MM/YYYY') ILIKE '05/1997%' 
     OR TO_CHAR(orderdate, 'MM/YYYY') ILIKE '12/1997%'```

What is the price of products post discount?

In [ ]:
cur.execute('SELECT productname, (order_details.unitprice - (order_details.unitprice*discount)) AS net_unitprice FROM order_details LEFT OUTER JOIN products ON order_details.productid = products.productid')

```
SELECT 
    productname, 
    (order_details.unitprice - (order_details.unitprice*discount)) AS net_unitprice 
FROM order_details
    LEFT OUTER JOIN products
    ON order_details.productid = products.productid```

Create the emails of the employees.

In [ ]:
cur.execute('SELECT LEFT(LOWER(firstname),1) || LOWER(lastname) || "@northwind.com" AS emp_email FROM employees')

```SELECT LEFT(LOWER(firstname),1) || LOWER(lastname) || '@northwind.com' AS emp_email
FROM employees```

Provide first and last name for employees who had orders ship to postal code 01307.

```
SELECT 
    firstname || ' '  || lastname FROM employees AS e
WHERE EXISTS
    (SELECT * 
     FROM orders AS o
     WHERE e.employeeid = o.employeeid
     AND shippostalcode = '01307')```

Per order, how many of products purchased had unit prices greater than $10?

```
SELECT  
	SUM(CASE 
    	WHEN unitprice > 10 THEN 1
		WHEN unitprice <=10 THEN 0
	END)
FROM order_details
GROUP BY orderid;```

By month in 1998, how many orders were there?

```
SELECT 
	TO_CHAR(orderdate,'MM') AS month, 
	COUNT(*) AS monthly_transactions
FROM orders
WHERE 
	TO_CHAR(orderdate,'YYYY') ILIKE '1998%'
GROUP BY 
	TO_CHAR(orderdate,'MM');```

In [ ]:
conn.close()